# App
APP_NAME=example

# Database
DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=example
DATABASE_TYPE=mysql
DATABASE_PORT=3306
DATABASE_SYNCHRONIZE=false

# Auth
OAUTH_JWKS_URL=https://sso-corproot-v2.scapp-services.swisscom.com/token_keys
OAUTH_TOKEN_URL=https://sso-corproot-v2.scapp-services.swisscom.com/oauth/token

# Employee API
EMPLOYEE_API_URL=https://employeeapi.scapp-corp.swisscom.com/api/
EMPLOYEE_API_CLIENT_ID=
EMPLOYEE_API_CLIENT_SECRET=

# Mail API
MAIL_API_URL=https://api.swisscom.com/messaging/email
MAIL_API_CLIENT_ID=
MAIL_API_SENDER=
MAIL_API_VERSION=2